* {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: chocolate;
  text-align: center;
  margin-top: 5px;
  font-weight: bolder;
}

ul {
  text-align: center;
}


h2 {
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold

}

img {
  ;
}

body {
  background: beige;
}

button {
  color: burlywood;
  padding: 3px;
}